version = 1

test_patterns = ["tests/**"]

exclude_patterns = ["tests/**", "examples/**"]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"

[[transformers]]
name = "black"
enabled = true

[[transformers]]
name = "autopep8"
enabled = false

[[transformers]]
name = "isort"
enabled = true
