[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "gradsflow"
author = "Aniket Maurya"
author-email = "hello@gradsflow.com"
home-page = "https://docs.gradsflow.com"
description-file = "README.md"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Information Technology",
    "Operating System :: OS Independent",
    "Typing :: Typed",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]
requires = [
    "optuna == 2.9.1",
    "smart_open == 5.1.0",
    "lightning-flash[all] == 0.4.0",
    "loguru"
]
requires-python = ">=3.6"

[tool.flit.metadata.requires-extra]
test = [
    "pytest",
    "coverage",
]

[tool.isort]
profile = "black"
