# git+https://github.com/gradsflow/gradsflow@main
mkdocs
mkdocs-material
mkdocs-material-extensions>=1.0.*
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-autorefs
mkdocstrings
mkdocstrings-python
tags-macros-plugin @ git+https://github.com/jldiaz/mkdocs-plugin-tags.git@d26e2f124e4f3471639d426459e281080988fe7a
mkdocs-jupyter
mkdocs-meta-descriptions-plugin
jupyter_contrib_nbextensions
comet_ml
lightning-flash[image,text]>=0.5.1
wandb
tensorboard
